/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400'); */

:root {
  --main-color:#282d33;
  --main-halfopacity: rgba(31, 47, 73, .5);
  
  --lightest-blue: #e9f3ff;
  --lighter-blue:#c7deff;
  --light-blue:#7aa7ee;
  --blue:#5887d3;
  --dark-blue:#375688;

  --about-color:#7aa7ee;
  --portfolio-color: #e07f7f;
  --resume-color:#f7eb80;
  --contact-color:#98db88;
  /* --contact-color:#98db88; */
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--main-color);
  background: #eee;
}

p {
  font-weight: 200;
}

h1,h2,h3,h4 {
  user-select: none;
  margin: 0;
  font-weight: 300;
  line-height: 100%; 
}

a {
  transition: color 200ms ease;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

a:hover 
{
  color:inherit; 
  text-decoration:none; 
  cursor:pointer;  
}

ul {
  margin: 0;
  padding: 0;
}

@media (max-width: 950px) {
  #headshot-loader { background: url('/img/photos/headshot-small.jpg')}
}
@media (min-width: 951px) {
  #headshot-loader { background: url('/img/photos/headshot.jpg')}
}
