
.swipe-enter {
  transform: translateX(-100%);
  z-index: 50;
  position: absolute;
}

.swipe-enter.swipe-enter-active {
  z-index: 50;
  position: absolute;
  transform: translateX(0);
  transition: transform 500ms ease;
}

.swipe-exit {
  z-index: -50;
  position: absolute;
  transform: translateX(0);
}

.swipe-exit.swipe-exit-active {
  z-index: -50;
  position: absolute;
  transform: translateX(0);
  transition: transform 500ms ease;
}