
@keyframes revealUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes revealDown {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}